.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% ;
    /* background-color: whitesmoke; */
}

.skill-heading-container{
    width:100%;
    font-size: xx-large;
    /* background-color:grey; */
    /* opacity: 60%; */
    /* background-blend-mode: luminosity; */
}

.skill-heading{
    font-size: 4rem;
}


.skill-img {
    width: 6rem;
    height: 6rem;
    /* border-radius: 50%; */
    object-fit:fit;
    background: transparent;
  }

.skill-img-container{
    padding: 2rem 5rem;
}