.profile-img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    object-fit:cover;
  }

  .introduction-container{
    display: flex;
    justify-content:space-around;
    box-shadow: 0px 1px 100px rgba(255, 0, 0, 0.75);
  }